@model List<CronJobService>

@{

}

<h1>Job Services</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">State</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <th scope="row">@Model.IndexOf(item)</th>
        <td>@item.GetType().Name</td>
        <td>@item.StateString</td>
        <td></td>
      </tr>
    }


  </tbody>
</table>
