@{
    var state = ViewBag.CronState == false ? "Running" : "Stopped";
}

<h1>Test</h1>


<h2>State : @state </h2>

<button onclick="location.href='@Url.Action("Start","Test")'">Start</button>
<button onclick="location.href='@Url.Action("Stop", "Test")'">Stop</button>
<button onclick="location.href='@Url.Action("Run", "Test")'">Run</button>
<input type="submit" id="Test" value="Submit" />